.contenerPelicula{
    display: flex;
    height: 51vh;
    flex-direction: row;
    margin-top: 55px;
    margin-bottom: 54px;
}
.generoList{
    display: flex;
}
.divImgPeli{
    height: 50vh;
    padding: 15px;
}
.contenidoPelicula{
    margin-right: 30px;
}

li{
    list-style-type: none;
}