.contenerPelicula{
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-bottom: 54px;
}
.generoList{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.divImgPeli{
    padding: 15px;
}
.contenidoPelicula{
    margin-right: 30px;
}

.liGeneroList{
    list-style-type: none;
    background-color: #9a9a9a9c;
    border-radius: 17px;
    margin-right: 15px;
    padding: 10px;
}

.imgDetalle{
    height: 500px
}

@media(max-width: 420px){
    .sinopsis{
        width: 90%;
        margin-top: 7px;
    }

    .contenerPelicula {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .contenidoPelicula {
        margin-right: 0; 
        margin-left: 10px;
    }

    .divImgPeli {
        padding: 0; 
        align-self: center;
        margin-top: 7px;
    }
    .generoList{
        flex-wrap: wrap;
        margin-bottom: 8px;

    }
    .liGeneroList{
        margin-bottom: 8px;
    }


    
}

