.contenerPelicula{
    display: flex;
    height: 51vh;
    flex-direction: row;
    margin-top: 55px;
    margin-bottom: 54px;
}
.generoList{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}
.divImgPeli{
    height: 50vh;
    padding: 15px;
}
.contenidoPelicula{
    margin-right: 30px;
}

.liGeneroList{
    list-style-type: none;
    background-color: #9a9a9a9c;
    border-radius: 17px;
    margin-right: 15px;
    padding: 10px;
}