.busqueda {
    background-color: #f2f2f236;
    border: none;
    padding: 10px;
    color: white;    
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 420px){
    form{
        order: 2;
    }

}