/* Estilo de header */
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    /* height: 16vh; */
    padding-left: 6px;
    padding-right: 15px;

}

/* estilo a navegacion */


.listaMenu {
    display: flex;
    width: 55vw;
    justify-content: space-between;
    font-weight: 900;
}



.eachMenu{
    color:#ffffffea;
    text-decoration: none;

}

.eachMenuLi{
    list-style-type: none;
}

/* estilo logo */
.contendorLogo{
    width: 7%;
    padding: 5px;
}

.logoHeader {
    width: 100%;
}

/* Estilo formulario */

.searchInput{
    background-color: #f2f2f236;
    border: none;
    padding: 10px;
    color: white;
    
}

@media(max-width: 420px){
    .logoHeader {
        width: 55px;
    }

    .listaMenu {
        width: 100vw;
        padding-left: 13px;
        display: block; 
        margin-top: 8px;
    }

    .formularioSearch{
        order: -1;
    }

    .contendorLogo{
        order: -2;
    }




}