footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    align-items: center;
    justify-content: space-evenly;
    height: 16vh;
    width: 100%;
    position: relative;
    padding-bottom: 4px;
}

.names{
    color: #fff;
    font-size:1.2em;
    font-family: sans-serif;   
     
}