footer{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 21vh;

}

.names{
    color: #fff;
    font-size:1.2em;
    font-family: sans-serif;   
     
}